<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>City location:</strong>
  <td><%= city = City.find(@item.city_id).name %></td>
</p>
<p>
	<strong>Current weather</strong>
        <% response = HTTParty.get("https://api.openweathermap.org/data/2.5/weather?q=#{city}&appid=#{ENV["API_KEY"]}")%>
        <%= response["weather"][0]["description"] %>
</p>


<% @item.images.each do |image| %>
  <%= image_tag(image, size: '500') %>
<% end %>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
